.container{
    text-align: center;
    background: blue;
    height: 200px;
    width: 100%;
    position: relative;
}

.div1{
    background: yellow;
    display: inline-block;
    width: 30%;
    height: 100px;
    position: relative;
}

.div2{
    background: rgb(255, 0, 0);
    display: inline-block;
    width: 30%;
    height: 100px;
    position: relative;
    left: 100px;
}

.container1{
    text-align: center;
    background: blue;
    height: 200px;
    width: 100%;
    position: relative;
}

.div3{
    background: yellow;
    display: inline-block;
    width: 30%;
    height: 100px;
    position: relative;
}

.div4{
    background: rgb(255, 0, 0);
    display: inline-block;
    width: 30%;
    height: 100px;
    position: absolute;
    left: 88px;
}