body{
    margin: 0;
}


#div1{
    background: blue;
    height: 100px;
    width: 50%;
    position: relative;
    top: 30px;
    left: 25%;
    box-shadow: 10px 10px 10px 10px red;
}

#div2{
    background: rgb(255, 255, 255);
    height: 300px;
    width: 250px;
    position: relative;
    top: 100px;
    left: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}